<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <style>
        .modalBtn{
            /*    #position: absolute;*/
            /*    #top: 0;*/
        }
        .modal{
            /*     #position: absolute;*/
            width: 170px; height: 170px;
            background: rgba(0,0,0,0.8);
            top: 0; left: 0;
            display: none;
            margin-top: 30px;
        }
        #message-text{
            margin-left: 17px;
        }

        .postList{
            margin-top: 200px;
        }

        .ids{
            visibility: hidden;
        }

        .author {
            display: flex;
            flex-direction: row;

        }
        .contents{
            display: flex;
            flex-direction: row;
        }

        input{
            width: 250px;
        }
    </style>

    <script>
        $(document).ready(function (){
            let id = "[[${user}]]";

        });

        function check1() {
            let text = $("#content").val();
            let user = "[[${user}]]"

            if (text === "") {
                alert("댓글을 입력해주세요 ")
                return false;
            }


            if(user == "true"){
                alert("로그인을 해야합니다");
                window.location.replace("/user/login")
                return false;
            }
            return true;
        }



        function replyPost(){
            $(".replyBtn").click(function(){
                let boardId = $("#boardId").val();
                let username = $("#username").val();
                let content = $("#content").val();
                let data = {"boardId" : boardId, "username": username, "content": content}
                $.ajax({
                    type: "POST",
                    url: '/reply/write',
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    success: function (response){
                        alert("댓글 달기 완료");
                        window.location.reload();
                    }
                });
            });
        }

        function removecheck(id){
            if(confirm("정말로 삭제하시겠습니까?")){
                return true;
            }else{
                return false;
            }

        }

    </script>
</head>
<body>
<div th:if="${#authorization.expr('isAuthenticated()')}">
    <h2 th:text="${#authentication.name}+'님 환영합니다.'"></h2>
    <a href="/user/logout" th:href="@{/user/logout}">Logout</a>
</div>
<div th:unless="${#authorization.expr('isAuthenticated()')}">
    <a href="/user/login" th:href="@{/user/login}">Login</a>
</div>

<form>
    <div class="form-group">
        작성자
        <input type="text" class="form-control" th:value="${boards.user?.username}" aria-describedby="emailHelp" readonly>
        <small id="emailHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        제목
        <input type="text" class="form-control" th:value="${boards?.title}" readonly>
    </div>
    <div class="form-group">
        내용
        <input type="text" class="form-control" th:value="${boards?.content}"  readonly>
    </div>
</form>

<form action="#" th:action="@{/reply/write/}+${boards.boardId}" onsubmit="return check1()" method="POST" th:object="${postcomment}">
    <div class="form-group">
        <input type="text" class="form-control" id="boardId" name="boardId" th:value="${boards.boardId}" readonly>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="username" name="username" th:value="${#authentication.name}" readonly>
    </div>
    <div class="form-group">
        <label>
            <input type="text" class="form-control" id="content" th:field="*{content}" th:text="*{content}" th:value="*{content}" >
        </label>
    </div>
    <!--th:value="${boards.content}"-->
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>

<!---->
    <div class="table table-striped text-center" th:each="reply : ${replyList}" style="border: solid;padding: 7px">

        <div class="author">
             <div>작성자:</div>
             <div th:text="${reply.user.username}" style="display: inline;float: left;margin-left: 5px"></div>
        </div>
        <div class="contents">
              <div>내용:</div>
              <div th:id="${reply.replyId}+text" th:text="${reply.content}"></div>
        </div>
        <!--수정-->
        <div style="margin-left: 100px">
            <form th:if="${reply.user.username} == ${#authentication.name}" action="#"
                  th:action="@{/reply/modify/}+${reply.replyId}+@{/}+${reply.boards.boardId}" method="GET">
                <input type="submit" th:id="${reply.replyId}+modifyContent" class="btn btn-primary" value="수정">
            </form>

            <!--삭제-->
            <form th:if="${reply.user.username} == ${#authentication.name}" action="#"
                  th:action="@{/reply/delete/}+${boards.boardId}+@{/}+${reply.replyId}" method="post"
                  th:onsubmit="return removecheck([[${reply.replyId}]])" style="display: inline">
                <input type="submit" th:id="${reply.replyId}+removeComment" class="btn btn-primary" value="삭제">
                <input type="hidden" name="_method" value="DELETE"/>
            </form>
        </div>

    </div>



</body>
</html>